<table>
<tr><td><b>Element</b></td><td><b>Referenced By</b></td></tr>
<tr><td>DeliveryProcess:SCRUM_ISO29110S</td><td></td></tr>
<tr><td>Activity:Inicio</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio</td></tr>
<tr><td>Task:planificacion_de_proyecto</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/TaskDescriptor:planificacion_de_proyecto</td></tr>
<tr><td>Role:customer</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/RoleDescriptor:customer</td></tr>
<tr><td>Role:project_manager</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/RoleDescriptor:project_manager</td></tr>
<tr><td>Role:technical_leader</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/RoleDescriptor:technical_leader</td></tr>
<tr><td>Role:work_team</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/RoleDescriptor:work_team</td></tr>
<tr><td>Artifact:enunciado_de_proyecto</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/WorkProductDescriptor:enunciado_de_proyecto</td></tr>
<tr><td>Artifact:control_de_riesgos</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/WorkProductDescriptor:control_de_riesgos</td></tr>
<tr><td>Artifact:plan_de_proyecto</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/WorkProductDescriptor:plan_de_proyecto</td></tr>
<tr><td>Task:creacion_de_historias_de_usuario</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/TaskDescriptor:creacion_de_historias_de_usuario</td></tr>
<tr><td>Role:analyst</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/RoleDescriptor:analyst</td></tr>
<tr><td>Artifact:historias_de_usuario</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/WorkProductDescriptor:historias_de_usuario</td></tr>
<tr><td>Artifact:product_backlog</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Inicio/WorkProductDescriptor:product_backlog</td></tr>
<tr><td>Iteration:Sprint</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint</td></tr>
<tr><td>Task:crear_actualizar_diseno_general</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/TaskDescriptor:crear_actualizar_diseno_general</td></tr>
<tr><td>Role:designer</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/RoleDescriptor:designer</td></tr>
<tr><td>Artifact:diseno_general</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/WorkProductDescriptor:diseno_general</td></tr>
<tr><td>Task:planificacion_de_sprint</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/TaskDescriptor:planificacion_de_sprint</td></tr>
<tr><td>Task:implementacion_de_historias_de_usuario</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/TaskDescriptor:implementacion_de_historias_de_usuario</td></tr>
<tr><td>Role:programmer</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/RoleDescriptor:programmer</td></tr>
<tr><td>Artifact:plan_de_pruebas</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/WorkProductDescriptor:plan_de_pruebas</td></tr>
<tr><td>Artifact:componente_de_software</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/WorkProductDescriptor:componente_de_software</td></tr>
<tr><td>Artifact:diseno_detallado_de_historia_de_usuario</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/WorkProductDescriptor:diseno_detallado_de_historia_de_usuario</td></tr>
<tr><td>Task:revision_del_sprint</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/TaskDescriptor:revision_del_sprint</td></tr>
<tr><td>Artifact:acta_de_reunion_de_avance</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/WorkProductDescriptor:acta_de_reunion_de_avance</td></tr>
<tr><td>Task:evaluar_cambios</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/TaskDescriptor:evaluar_cambios</td></tr>
<tr><td>Artifact:solicitud_de_cambio</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/WorkProductDescriptor:solicitud_de_cambio</td></tr>
<tr><td>Task:reunion_de_retrospectiva</td><td>DeliveryProcess:SCRUM_ISO29110S/Iteration:Sprint/TaskDescriptor:reunion_de_retrospectiva</td></tr>
<tr><td>Activity:Cierre</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre</td></tr>
<tr><td>Task:generar_los_manuales</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre/TaskDescriptor:generar_los_manuales</td></tr>
<tr><td>Artifact:manual_de_mantenimiento</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre/WorkProductDescriptor:manual_de_mantenimiento</td></tr>
<tr><td>Artifact:manual_de_operacion</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre/WorkProductDescriptor:manual_de_operacion</td></tr>
<tr><td>Artifact:manual_de_usuario</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre/WorkProductDescriptor:manual_de_usuario</td></tr>
<tr><td>Task:cerrar_el_proyecto</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre/TaskDescriptor:cerrar_el_proyecto</td></tr>
<tr><td>Artifact:acta_de_aceptacion</td><td>DeliveryProcess:SCRUM_ISO29110S/Activity:Cierre/WorkProductDescriptor:acta_de_aceptacion</td></tr>
<tr><td>Template:plantilla_de_enunciado_de_proyecto</td><td>Artifact:enunciado_de_proyecto</td></tr>
<tr><td>Template:plantilla_de_control_de_riesgos</td><td>Artifact:control_de_riesgos</td></tr>
<tr><td>Template:plantilla_de_plan_de_proyecto</td><td>Artifact:plan_de_proyecto</td></tr>
<tr><td>Template:plantilla_de_historia_de_usuario</td><td>Artifact:historias_de_usuario</td></tr>
</table>
